body {

  margin: 0;
  box-sizing: border-box;
}
.container {
  background: #0e0f26;
  color: #fffcff;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.generator {
  background-image: linear-gradient(to right, #302399, #5f23a5);
  padding: 3rem;
  width: 70%;
  border-radius: 1rem;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.form {
  display: grid;
  grid-template-columns: auto auto;
  row-gap:1rem;
  column-gap: 3rem;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.title {
  text-align: center;
  margin: 0;
}
.character-amount-container {
  display: flex;
  align-items: center;
}
.number-input {
  width: 2rem;
}
.Password-display {
  background: #fffcff;
  color: #0e0f26;
  border: 1px solid #0e0f26;
  padding: 1rem;
  height: 2rem;
  width: 300px;
  display: flex;
  align-items: center;
  word-break: break-all;
  text-align:  center;
  border-radius: .5rem;
}
.btn{
  grid-column: span 2;
  background: transparent;
  border: 2px solid #fffcff;
  padding: .5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem;
  
}
.btn:hover{
  background: #ffffff33;
}